/* You can add global styles to this file, and also import other style files */
.card-img-bottom {
  width: 200px;
  height: 200px;
  object-fit:cover;
}

.upload-img {
  width: 555px;
  //height: 90px;
  object-fit:cover;
}

.cord-title-link {
  color: black;
}
