img.logo-img {
  max-height: 45px;
}

.app-name-container {
  height: 100%;
}

.menu {
  height: 55px;
}

.top-bar-info {
  color: #ffffff;
  font-size: 18px;
  margin-top: 5px;
}

.user-container {
  float: right;
}
